/* body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
} */


html body{
  font-family: sans-serif;
}
body h1 {
  
    font-size: 2em;
    font-weight: bold;
  
}



.placeholder {
  background: rgb(255,240,120);
 
}
.horizontal-drag{
  width: 100px;
  height:100px
}
.placeholder:before {
  content: "Drop here";
  color: rgb(0, 0, 0);
}